.THIS .tree-header{
    font-weight: bold !Important;
    color: #FFFFFF !Important;
    background-color: #4169E1 !Important;
    height: 60px !Important;
    border-width: 1px 1px 1px 0px;
    border-color: black;
    border-style: solid;
}
.THIS .tree-header-first{
    font-weight: bold !Important;
    color: #FFFFFF !Important;
    background-color: #4169E1 !Important;
    height: 60px !Important;
    border-width: 1px 1px 1px 1px;
    border-color: black;
    border-style: solid;
}