.filteredTags{
    background-color: rgb(0, 68, 135);
    border: none;
    border-radius: 50px;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}