.THIS .slds-grid .slds-wrap .container{
    margin-left: 50px;
    margin-right: 50px;
}
.THIS .slds-icon-standard-case {
    background-color: #065280;
}

.THIS .slds-icon-standard-goals {
    background-color: #28a745;
}