.THIS .leftmargin{
    margin-left: 5%;
}
.THIS .rightmargin{
    margin-right: 5%;
}
.THIS .section{
    background: #f3f2f2;
    font-size: 1rem;
    height: 31px;
    line-height: 31px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.THIS .table {
  border-collapse: collapse;
  border: 1px solid black;
} 

.THIS .th {
  border: 1px solid #c3c0c0;
    text-align: center;
}

.THIS .td {
  border: 1px solid #c3c0c0;
}

.THIS .fixed {
  table-layout: Fixed;
  width: 180px;  
}

.THIS .textcenter {
    text-align: center;
    padding: 5px;
}

.THIS .scrollable{
     width: 400px;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.THIS .focus{
     Height: 100px;
}

.THIS .textColor{
    color: blue;
    cursor: pointer;
}
.THIS .marginleft{
    margin-left:70%;;
}
.THIS .pdfmodaldiv{
    max-width:80rem;
    width: 100%;
}
.THIS .checkboxcol{
    text-align: center;
    width: 100px;
}
