.dummy{
	color : black;
}
.icons{
	-slds-c-icon-color-background: rgb(59, 167, 85);
}
.slds-is-active.Cancelled:after, .slds-is-active.Cancelled:before, .slds-is-active.Cancelled{ background: #ff0000;}
.slds-is-active.Cancelled:hover, .slds-is-active.Cancelled:hover::after,.slds-is-active.Cancelled:hover::before{ background: #aa1b1b;}