/*
lwc datatable container fixed height
*/
.lightning-datatable-container {
  height: 385px;
}

/*
when no row selected for preivew
*/
.select-row-to-preview {
  height:100%;
  background-color:rgb(249, 248, 248);
  background-image: url('/img/icon/t4v35/custom/custom32_120.png')
}

.refreshIcon svg {
  fill: blue;
}