.icon {
    padding-right: 5px;
}

.pill-container {
    border-radius: 5px;
    padding-top: 2px;
    padding-left: 1px;
    border: 1px solid grey;
    height: 32px;
}

.input-container {
    margin-right: 1px;
    margin-left: 1px;
    padding-top: 1px;
    padding-left: 1px;
    border-radius: 2px;
    height: 27px;
    border: 1px solid grey;
}

.content {
    margin-left: 10px;
    display: inline;
}

.button {
    display: inline;
    float: right;
    margin-right: 5px;
}

.text {
    margin-top: 0px !important;
}