.THIS .relatedLinks{
    display: block;
    margin-bottom: 20px;
    font-size: 15px;
}

.THIS .quesAns{
    margin-bottom: 20px;
    font-size: 14px;    
}

.THIS.slds-box {
    width:100%;
    max-width: 1110px;
    margin-left: 8%;
}