.THIS .nav-link {
  font-size: 1rem;
}
.THIS .headerLabel
{
    font-size: 1.125rem;
    margin-bottom: .5rem;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 1.2;
    color: #005587;
    display: inline-block;
}

.THIS .backButton{
    color: #005587;
  /*  background-color: #fff;
    border-color: #005587;*/
    margin-right: 10px;
    font-size:20px;
    text-decoration:none;
    display: inline-block;
}

.THIS .backButton:hover{
    color: #005587;
    /*background-color: #005587;
    border-color: #005587;
    height: 35px;*/
    margin-right: 10px;
    text-decoration:none;
    display:inline-block;
    transform: scale(1.5);
}

.THIS .prmcontainer
{
    max-width: 1338px;
    margin-left: 0px;
}