.project
salesforce.schema
.settings/com.salesforce.ide.core.prefs
Referenced Packages/
src/samlssoconfigs/ssouat_imshealth_com.samlssoconfig
src/email/unfiled$public/Sample_ScheduleMeeting.email-meta.xml
src/email/unfiled$public/Sample_ScheduleMeeting.email
src/email/unfiled$public/Sample_Reconnecting.email-meta.xml
src/email/unfiled$public/Sample_Reconnecting.email
src/email/unfiled$public/Sample_Promotion.email-meta.xml
src/email/unfiled$public/Sample_Promotion.email
src/email/unfiled$public/Sample_OutofOffice.email-meta.xml
src/email/unfiled$public/Sample_OutofOffice.email
src/email/unfiled$public/Sample_NextSteps.email-meta.xml
src/email/unfiled$public/Sample_NextSteps.email
src/email/unfiled$public/Sample_NewAccountManager.email-meta.xml
src/email/unfiled$public/Sample_NewAccountManager.email
src/email/unfiled$public/Sample_MeetOnsite.email-meta.xml
src/email/unfiled$public/Sample_MeetOnsite.email
src/email/unfiled$public/Sample_HappyBirthday.email-meta.xml
src/email/unfiled$public/Sample_HappyBirthday.email
src/email/unfiled$public/Sample_GreatMeetingYou.email-meta.xml
src/email/unfiled$public/Sample_GreatMeetingYou.email
src/email/unfiled$public/Sample_DealClosed.email-meta.xml
src/email/unfiled$public/Sample_DealClosed.email
src/email/unfiled$public/Sample_CustomerInterest.email-meta.xml
src/email/unfiled$public/Sample_CustomerInterest.email
src/email/unfiled$public/Sample_CallNoAnswer.email-meta.xml
src/email/unfiled$public/Sample_CallNoAnswer.email
src/documents/
src/samlssoconfigs/
src/settings/BusinessHours.settings
src/permissionsets/CSM_Class_Access_for_System_User.permissionset
build.xml
1.bat
.sfdx
.vscode
force.json
sfdx-project.json
.forceCode
.history
CLMCMAchangesToDeploy*
src/lwc/jsconfig.json
.forceignore
.pmdCache