.slds-context-bar {
    padding: 0;
    border-bottom: solid;
    border-image: linear-gradient(to right, #11194f, #03477a); 
    height: 3.4rem;
    border-image-slice: 1;
}

.slds-context-bar__item.slds-is-active:before {
    background: #0c7bc0;
}

.slds-context-bar__item a {
   font-size: 0.98rem;
}
.logo img {
    height: 2rem;
}

.toggle-button {
    display: none;
}

.slds-context-bar__tertiary .csm-search {
    display: block;
}

.slds-context-bar__secondary .csm-search {
    display: none;
}

.profile-button-menu {
    --sds-c-button-outline-hover-shadow: none;
    --sds-c-button-border-radius: 0;
    --sds-c-button-focus-shadow: none;
    --sds-c-button-outline-active-shadow: none;
    --sds-c-button-box-shadow-active: none;
}
@media (max-width: 768px) {
    .slds-context-bar__tertiary .csm-search {
        display: none;
    }

    .slds-context-bar__secondary .csm-search {
        display: block;
        width: calc(100% - 1.75rem);
    }
}
@media (max-width: 1305px) {
    .menu {
        position: absolute;
        top: 2.5rem;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: #f3f3f3;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        flex-direction: column;
        align-items: flex-start;
        overflow-y: hidden;
        max-height: 0;
        transition: all 0.3s ease-out;
    }

    .menu.open {
        max-height: 100rem;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid #ccc;
        padding-top: 1rem;
    }

    .menu ul li {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .menu li {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .menu ul li:last-child {
        margin-bottom: 0;
    }

    .toggle-button {
        display: block;
    }
}
