.title-icon {
    float: left;
    margin-right: 1em;
    margin-top: 0.25em;
}
.slds-card__header h1 {
    font-weight: 700;
    font-size: .8125rem;
}
.slds-page-header__title {
    font-size: 1.125rem;
}
.slds-section {
    margin-top: 0;
    margin-bottom: 0.75em;
}
.slds-section .slds-is-open{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.task-display {

}
.task-display div {

}
.task-display div.slds-table_header-fixed_container {
    min-height: 7rem;
}
.slds-modal__content {
    position: relative;
}
.expando-button {
    transform: rotate(-90deg);
}
.slds-is-open .expando-button {
    transform: rotate(0deg);
}
.test-modal {
    display: none;
}
.page-input {
    display: block;
}
.page-input lightning-input,
.page-input-text {
    display: inline-block;
    max-width: 5em;
}