.THIS .customImageSize {
    width: 300px;
    height: 40px;
    object-fit: scale-down;
}
.THIS .customCertificationSize {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    object-fit: scale-down;
}

.THIS .customFont {
    color: #005587;
    font-family: Montserrat;
    font-size: 1.125rem;
}