.THIS {
}
.THIS .saveIcon{
    height: 1.5rem;
    width: 1.5rem;
    left: 110%;
    margin-top: -50%;
    
}
.THIS .popover {
    position: absolute;
    left: -26%;
    bottom: 65%;
}
.THIS .editButton{
    left: 25%;
}
.THIS .requestFollowButton{
    width: max-content;
}
.THIS .slds-readOnly-path{
    pointer-events: none;
}