.tr:nth-child(even) { 
    background-color: lavender; 
}
.divSpac{
    margin-bottom: 10px;
}
.rowSpace{
    border-collapse:separate; 
    border-spacing:0 5px; 
}
.filteredTags{
    background-color: rgb(0, 68, 135);
    border: none;
    border-radius: 50px;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
}
.error{
    border-color: red;
}
.errorMessage{
    color: red;
    margin-left: 22%;
}