.bg-hero {
    background-image: linear-gradient(to right, #11194f, #03477a);
    color: #fff;
}

.container-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; 
    width: 100%;
    margin: auto;
}


.text-content-hero {
    width: 100%;
    margin-top: 25px;
    padding-right: 10px;
}

.text-content-hero .title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 46px;
    color: #fff;
    padding-bottom: 28px;
}

.text-content-hero .description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 28px;
    color: #fff;
}

.bg-hero h1 {
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
}

.bg-hero h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 28px;
}

.img-hero {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 25px 0 25px 45px;
    -webkit-filter: drop-shadow(0 5px 8px rgba(0, 0, 0, .15));
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, .15));
}

.img-hero img {
    border-radius: 300px 24px 24px 300px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.search-hero {
    color: #000;
    max-width: 100%;
    margin: auto;
}

.media-hero {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    flex-shrink: 0;
}

.media-hero .back-image {
    height: calc(450px * 0.75);
    width: calc(580px * 0.75);
}

@media (max-width: 915px) {
    .img-hero {
        display: none;
    }

    .back-image {
        display: none;
    }
}