.THIS p{
    text-align: center;
}

.THIS.toggle {
    display: none;
}

.THIS .customBtn {
    transform: translate(0px, -50px);
    border: none !important;
}

.THIS.reduceMargin{
	margin-top: -30px;
}

.THIS.clearMargin{
	margin-top: 0px;
}