.horizontalClass {
    display: flex;
    width: 100%;
}

.horizontalClassParent {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.buttonClass {
    border-top: var(--lwc-borderWidthThick, 2px) solid var(--lwc-colorBorder, rgb(221, 219, 218));
    border-bottom-right-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    border-bottom-left-radius: var(--lwc-borderRadiusMedium, 0.25rem);
    padding: var(--lwc-spacingSmall, 0.75rem) var(--lwc-spacingMedium, 1rem);
    background-color: var(--lwc-colorBackground, rgb(243, 242, 242));
    text-align: center;
    box-shadow: var(--lwc-shadowDropDown, 0 2px 3px 0 rgba(0, 0, 0, 0.16));
}

.dyn-height {
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
}