.actionPanel {
    background: #F3F2F2;
    height: 26px;
    padding-left: 20px;
    padding-top: 4px;
    color: #080707;
    margin-left: 15px;
    margin-right: 18px;
    margin-top: 10px;
}
            
.outerBlock {
    padding-top: 4px;
}

.outerSpan {  
    margin-top: 8px;
    box-sizing: border-box;
    width: 70px;
    height: 95px;
}

.outerSpanSignatureAction {  
    margin-top: 8px;
    box-sizing: border-box;
    width: 70px;
    height: 120px;
}