.spanClass {
    display: table-caption;
}

.spin {
    position: absolute;
    width: 1080px;
    height: 640px;
    margin-left: -220px;
    background-color: #e0e0e0;
}

.acterr {
    font-size: 14px;
    color: #E86B52;
    font-family: sans-serif;
}