.card {
  background-color: #fafaf9;
  border-radius: 0.25rem;
  border: 1px solid rgb(221, 219, 218);
  border-radius: 0.25rem;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 700px;
}
.slds-button-group {
  background: #ffffff;
  border-radius: 0.25rem;
}

.expando-button-zone {
    text-align: right;
}
.content-zone {
    display: none;
}
.content-zone.expanded {
    display: initial;
}
.drawer-cell {
    padding: 0;
    border: none;
}
.table-drawer.expanded {
    display: block;
}
.table-drawer label {
    font-weight: 600;
    margin: 1rem;
}
.title-icon {
    float: left;
    margin-right: 1em;
    margin-top: 0.25em;
}
.slds-card__header h1 {
    font-weight: 700;
    font-size: .8125rem;
}
.slds-page-header__title {
    font-size: 1.125rem;
}
.lgc-bg {
    background-color: rgb(242, 242, 242);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

/* .milestonetable */
.milestonetable td.slds-p-left_large {
    padding-left: 2rem;
}

.slds-textarea {
    height: 5rem;
}


.THIS svg.slds-button__icon.fill-destructive,
svg.slds-button__icon.fill-destructive {
    fill: #c23934;
}

.THIS svg.slds-button__icon.fill-brand,
svg.slds-button__icon.fill-brand {
    fill: #0070d2;
}