.firstCol{
    background-color: gold;
    font-size: small;
    padding: 5px;
}
.firstSecond{
    font-size: small;
    padding: 5px;
}
.dates{
    font-size: small;
    padding: 16px;
    background-color: khaki;
}