.buttonCss {
	margin-left: 0.5rem;
}

.errorBlock {
	display: block !important
}

.THIS tr[aria-level="1"]>td[data-col-key-value="0-SELECTABLE_CHECKBOX-0"] {
	visibility: hidden !important;
}

.hide-checkbox .slds-checkbox {
	display: none;
}