.THIS .pageContainer {
    height: Auto;
    background-color: white;
    border-radius: 5px;
}

.THIS .dropDown {
    width: 400px;
}

.THIS .slds-modal__container {
    width: 85% !important;
    max-width: not-set !important;
}

.THIS .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}