.select-auto-width > .slds-form-element__control > .slds-select_container{
    display: inline-block;
}
.lightningComboBoxError{
    border:1px solid #C23934;
}
.lightningComboBoxRemoveError{
    border: '';
}
.nbrOflicenseCls{
    width: 70%; 
}
.slds-spinner_container {
    top: 20% !important;
    bottom: 20% !important;
}