@media (min-width: 1200px) {
    .THIS .container {
        max-width: 1300px;
    }
}

.THIS .myAccount.uiMenuItem, .THIS .profileVisibilitySection, .THIS .userSettingTabs>.uiTabBar, .THIS .userSettingTabs>.tabs__content>.row:first-of-type, .THIS .accountSection, .THIS .userDetailHeader:nth-child(1) {
    height: 0px !important;
    display: none !important;
}

.THIS .userSettingTabs>.uiTab {
    padding-left: 15px;
    padding-right: 15px;
}

.THIS .slds-page-header_record-home {
    background-image: linear-gradient(to right, #005587, #00A3E0) !important;
    height: 170px !important;
    padding-top: 37px !important;
    color: #ffffff;
    border-radius: 0px !important;
}

.THIS .grid-layout {
    height: 100%;
    overflow-y: hidden;
}

.THIS .recordHomePrimaryContent {
    margin-top: 1rem!important;
    width: 100% !important;
    max-width: 1300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    float: none !important;
}

.THIS .bg-primary {
    /*background-color: #00a3e0 !important;*/
    background-image: linear-gradient(to right, #11194f, #03477a);
}

.THIS li.oneActionsDropDown {
    height: 100% !important;
}

.THIS .badge {
    font-size: 85% !important;
}

.THIS .card {
    color: #2B3A42 !important;
}

.THIS .alert-primary {
    color: #005587 !important;
}

.THIS .badge-primary {
    background-color: #0c7bc0 !important;
}

.THIS .btn-primary {
    /*color: #fff !important;
    background-color: #00a3e0;
    border-color: #00a3e0;*/
    color: #0c7bc0 !important;
    background: #fff !important;
    border: 2px solid #0c7bc0 !important;
    border-radius: 40px;
}

.THIS .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0c7bc0;
    background-color: #0c7bc0;
}

.THIS .btn-primary:not(:disabled):not(.disabled).active:focus, .THIS .btn-primary:not(:disabled):not(.disabled):active:focus, .THIS .show>.THIS .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(67, 176, 42, 0.5)
}

.THIS .btn-primary:hover{
    /*
    color: #fff !important;
    background-color: #0087ba;
    border-color: #007ead;*/
    background-color: #0c7bc0 !important;
    color: #fff !important;
}

.THIS .btn-primary.disabled, .THIS .btn-primary:disabled {
    background-color: #00a3e0;
    border-color: #00a3e0;
}

.THIS .btn-primary:active, .THIS .btn-primary.active, .THIS .show>.btn-primary.dropdown-toggle {
    background-color: #0087ba;
    background-image: none;
    border-color: #007ead;
}

.THIS .btn-outline-primary {
    color: #00a3e0;
    background-color: transparent;
    background-image: none;
    border-color: #00a3e0;
}

.THIS .btn-outline-primary:hover {
    color: #fff;
    background-color: #00a3e0;
    border-color: #00a3e0;
}

.THIS .btn-outline-primary:focus, .THIS .btn-outline-primary.focus {
    box-shadow: 0 0 0 3px rgba(0, 163, 224, 0.5);
}

.THIS .btn-outline-primary.disabled, .THIS .btn-outline-primary:disabled {
    color: #00a3e0;
    background-color: transparent;
}

.THIS .btn-outline-primary:active, .THIS .btn-outline-primary.active, .THIS .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #00a3e0;
    border-color: #00a3e0;
}

.THIS .btn-primary {
    color: #fff;
    background-color: #00a3e0;
    border-color: #00a3e0;
}

.THIS .btn-primary:hover {
    color: #fff;
    background-color: #0087ba;
    border-color: #007ead;
}

.THIS .contentRegion.slds-col--padded {
    padding: 0 !important;
}

.THIS html {
    font-family: "Roboto", sans-serif;
}

.THIS .nav-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.THIS .nav-item {
    margin-bottom: auto;
    margin-top: auto;
}

.THIS.breadcrumb-item+.THIS.breadcrumb-item::before {
    content: ">" !important;
}

/*
.THIS h1 {
    font-size: 3rem;
}

.THIS h2 {
    font-size: 1.6rem;
}
.THIS h3 {
    font-size: 1rem;
}
.THIS .csm-page-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
*/

.THIS .selfServiceTopicTrendingArticles, .THIS .article-column.selfServiceArticleLayout, .THIS .ctaPanel, .THIS .selfServiceTopicRelatedArticle, .THIS .forceCommunityUserSettings, .THIS .forceCommunityCaseDeflection, .THIS .cProfileViewBody {
    position: relative !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: .25rem !important;
    box-shadow: none !important;
    background-color: white !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-top: 90px !important;
}

.THIS .navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
    color: #f8f9fa !important;
}

.THIS .navbar-brand {
    margin-right: 0rem !important;
}

.THIS .forceSearchInputDesktop .inputWrapper {
    background-color: #FFF;
}

.THIS .cHeaderPanel2 {
    background-image: linear-gradient(to right, #250055, #006FA9, #250055);
    z-index: 1;
    border: 0;
}

.THIS .cHeaderPanel {
    /*z-index: 1;
    width: 100%;
    -webkit-transition: background .8s ease;
    transition: background .8s ease;
    background-image: url(/support/file-asset/Reduced_Pic1?v=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    width: 100%;
    transition: 250ms opacity ease-in-out;
    -webkit-transition: 250ms opacity ease-in-out;
    z-index: 1;
    border: 0;
    border-bottom: 4px solid transparent;
    min-height: 60px;
    border-width: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.THIS .csm-card-Link:hover {
    text-decoration: none;
    cursor: pointer;
}

.THIS .csm-card-Link {
    width: 100%;
    color: #2B3A42 !important;
}

.THIS .nav-item .slds-icon {
    fill: #2B3A42;
}

.THIS .slds-icon-waffle_container {
    border: none !important;
}

.THIS .slds-icon-waffle [class*="slds-r"] {
    background-color: #2B3A42;
}

.THIS .slds-icon-waffle [class*="slds-r"]:hover {
    background-color: #00a3e0;
}

.THIS .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 163, 224, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.THIS .custom-toggler.navbar-toggler {
    border-color: #00a3e0;
}

.THIS .nav-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: #2B3A42;
}

.THIS .selfServiceProfileMenuTrigger .profileName {
    text-transform: uppercase !important;
    font-weight: bold !important;
    font-size: 1em !important;
    color: #2B3A42 !important;
}

.THIS .myAccount .uiMenuItem {
    visibility: hidden;
    height: 0px;
}

.THIS .navbar-brand {
    color: white;
}

.THIS .navbar-brand:hover {
    color: white;
}

.THIS .navbar-nav>li>a:hover {
    color: #00a3e0;
}

.THIS .slds-card {
    position: relative !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: .25rem !important;
    box-shadow: none !important;
}

.THIS .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.THIS .invisible {
    visibility: hidden !important;
}

.THIS .hidden-xs-up {
    display: none !important;
}

@media only screen and (max-width: 47.9375em) {
    .THIS .forceCommunityAppLauncher {
        display: block !important;
    }
}

@media (max-width: 575px) {
    .THIS .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .THIS .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .THIS .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .THIS .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .THIS .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .THIS .hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .THIS .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .THIS .hidden-xl-up {
        display: none !important;
    }
}

.THIS .hidden-xl-down {
    display: none !important;
}

.THIS .embeddedServiceSidebarButton .label, .THIS .embeddedServiceSidebarButton:disabled .label {
    color: #0c7bc0!important;
}

.THIS .embeddedServiceSidebarButton .label:hover, .THIS .embeddedServiceSidebarButton:hover .label {
    text-shadow: none;
    color: #FFF!important;
}
.THIS .forceChatterBasePublisher .cuf-publisherTopics{
    display: none !important;
}
/*
.THIS .forceCommunityFeedPublisher{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    border: 1px solid #d4d4d4;
    border-radius: .25rem;
    box-shadow: 2px 2px 2px #d4d4d4;
}
*/
/*
.THIS .forceChatterFeed{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}
*/

.THIS .slds-button_icon-border-filled{
    border-radius: 0px !important;
}
.THIS .slds-post__footer-action {
    border: 0px !important;
    padding: .2rem .5rem .2rem .5rem;
}
.THIS .forceChatterStyle .uiMenu a:hover {
    text-decoration: underline;
}
.THIS .slds-post__footer-action:hover{
    border: 0px !important;
    color: #0c7bc0 !important;
    background: none!important;
    text-decoration: underline;
    text-decoration-color: #0c7bc0;
}
.THIS .forceChatterComment .comment__footer .slds-button{
    border: 0px !important;
    background: none !important;
}
.THIS .forceChatterComment .comment__footer .slds-button:hover {
    border: 0px !important;
    color: #0c7bc0 !important;
    background: none!important;
    text-decoration: underline;
    text-decoration-color: #0c7bc0;
}
.THIS .forceChatterFeedback .cuf-showMoreComments .slds-button{
    border: 0px !important;
    background: none !important;
    text-decoration: underline;
    text-decoration-color: #0c7bc0;
}
.THIS .cuf-showOlderComments .slds-button:hover {
    border: 0px !important;
    color: #0c7bc0 !important;
    background: none!important;
    text-decoration: underline;
    text-decoration-color: #0c7bc0;
}
.THIS .forceChatterAddMemberCard{
    display: none !important;
}
.THIS .forceRelatedListCardDesktop{
    margin-left: -1.8rem !important;
    margin-top: 1rem !important;
    margin-right: -1.8rem !important;
}
.THIS .forceCommunityGroupHighlightStencilNapili .actions .slds-button-group .slds-button{
    border-radius: 40px !important;
}
.THIS .forceChatterShareButton .sharePostMenu .uiMenu .uiMenuList  ul :nth-child(n+2) {
    display: none !important;
}
.THIS .forceCommunityFeedPublisher .oneActionsComposer.SMALL li.uiTabItem>a {
    width: 6rem !important;
}
.THIS .forceCommunityGroupRecordHomeTabs .detailRelatedList .forceCommunityRelatedRecords .forceRelatedListContainer .container :nth-child(3) {
    display: none !important;
}
.THIS .forceCommunityGroupRecordHomeTabs .detailRelatedList .forceCommunityRelatedRecords .forceRelatedListContainer  .forceRelatedListSingleContainer:not(:first-child) {
    display: none !important;
}
.THIS .cLXC_CSM_CommunityGroupPage + ui-widget {
    display: none !important;
}
.THIS .forceChatterFeedCommentInput .forceChatterAttachFileButton.uiButton {
    display: none !important;
}
.THIS .forceChatterBasePublisher.baseDefault .container .cuf-publisherAttachmentBar .cuf-publisherAttachmentButton {
    display: none !important;
}
/* forceChatterOverflowActionMenu Style for Internal User */
.THIS .groupHomeTabSet .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Edit Topics"],
.THIS .groupHomeTabSet .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Move"],
.THIS .groupHomeTabSet .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Flag"]{
    display: none !important;
}
/* commentActionButton Style for Internal User */
.THIS .groupHomeTabSet.cuf-commentActionButton .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Flag"] {
    display: none !important;
}
/* forceChatterOverflowActionMenu Style for Community User */
.THIS .siteforceContentArea .contentRegion :nth-child(4) .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Delete"],
.THIS .siteforceContentArea .contentRegion :nth-child(4) .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Edit Topics"],
.THIS .siteforceContentArea .contentRegion :nth-child(4) .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Move"],
.THIS .siteforceContentArea .contentRegion :nth-child(4) .forceChatterOverflowActionMenu .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Flag"]{
    display: none !important;
}
/* commentActionButton Style for Community User */
.THIS .siteforceContentArea .contentRegion :nth-child(4) .cuf-commentActionButton .slds-dropdown .slds-dropdown__list .slds-dropdown__item[title="Flag"]{
    display : none !important;
}
.THIS .forceChatterEntityLink {
    pointer-events: none !important;
    cursor: default;
    text-decoration: none;
}

.THIS .forceChatterStyle--default .cuf-feed .cuf-element {
    border: 1.5px solid #d4d4d4 ;
    border-radius: .25rem ;
   /* box-shadow: 2px 2px 2px #d4d4d4;*/
}
.THIS .forceChatterFeedback .cuf-showMoreComments {
    border-bottom: 1px solid #d4d4d4 ;
}
.THIS .slds-feed__item-comments {
    background: #f3f2f2 !important;
}
.THIS .slds-button_icon-border-filled.ql-active.slds-is-selected {
    color: #fff!important;
    background-color: #0c7bc0 !important;
}
/* Upvote link Style for Community User */
.THIS .siteforceContentArea .contentRegion :nth-child(4) .qe-upVoteCount > a{
    pointer-events : none !important;
    cursor: text;
    text-decoration: none;
    color: rgb(43, 58, 66);
}
/* Likes count link Style for Community User */
.THIS .siteforceContentArea .contentRegion :nth-child(4) .cuf-likes .slds-button{
    display: none;
}
/* Likes count link Style for Internal User */
.THIS .groupHomeTabSet .cuf-likes .slds-button{
    display: block !important;
}
.THIS .outputSubject .slds-button_icon {
    display: none !important;
}
.THIS .homeSearch input {
    height: 50px !important;
    font-size: large !important;
    min-width: 150px;
}
.THIS .homeSearch .slds-form-element__control:nth-child(3) input {
   /* border-radius: 50px 50px 50px 50px!important;*/
    margin-left: -21px;
    padding-left: 50px;
}
.THIS .homeSearch .slds-form-element__control .slds-combobox_object-switcher button {
    /* border-radius: 50px 0 0 50px!important;*/
    height: 50px!important;
    font-size: large!important;
    padding-top: 8px!important;
    width: fit-content!important;
    z-index: 2!important;
}
.THIS .homeSearch button[data-element-id="searchClear"] {
    margin-right: 25px;
}

.THIS .csm-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px; 
}

.THIS .search-hero input {
    height: 40px !important;
    font-size: medium !important;
}

.THIS .search-hero lightning-combobox button {
    height: 40px !important;
    font-size: medium !important;
    line-height: 38px;
}


.THIS .header-text {
    margin-top: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 114%;
    letter-spacing: -0.018em;
    color: #140b42;
}

@media screen and (min-width: 200px) and (max-width: 1023px) {
    .THIS .header-text {
        font-size: 24px;
        line-height: 116%;
        letter-spacing: -0.02em;
        padding-left: 0;
    }
}