.slds-notify {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
}
.WarningStyle {
    font-size: 16px;
    font-weight: 400;
}

.slds-notify__content {
    flex-grow: 1; 
    margin-left: 1rem; 
}

.slds-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slds-m-right_small {
    margin-right: 0.5rem;
}

.slds-m-left_small {
    margin-left: 0.5rem;
}