.THIS .csm-page-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.THIS .navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa !important;
}

.THIS .navbar-brand {
    margin-right: 0rem !important;
}

.THIS .forceSearchInputDesktop .inputWrapper {
    background-color: #FFF;
}

.THIS .cHeaderPanel {
    z-index: 1;
    width: 100%;
    -webkit-transition: background .8s ease;
    transition: background .8s ease;
    background-image: url(/support/file-asset/Reduced_Pic1?v=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.THIS .csm-card-Link:hover {
    text-decoration: none;
    cursor: pointer;
}

.THIS .csm-card-Link {
    width: 100%;
    color: #000;
}

.THIS .custom-toggler .navbar-toggler-icon {
    background-image:
        url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.THIS .custom-toggler.navbar-toggler {
    border-color: rgb(255, 102, 203);
}

.THIS .navbar-nav>li>a {
    color: white;
}

.THIS .navbar-brand {
    color: white;
}

.THIS .navbar-brand:hover {
    color: white;
    opacity: 0.75;
}

.THIS .navbar-nav>li>a:hover {
    color: white;
    opacity: 0.75;
}

.THIS .slds-card {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(9, 30, 66, 0.25), 0 0 1px 0
        rgba(9, 30, 66, 0.31);
}