.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS.slds-scope .slds-page-header {
    background-color:white !important;
    background:white !important;
}

.THIS .btn-primary, .THIS .slds-button {
  color: #0c7bc0 !important;
  background: #fff !important;
  border: 2px solid #0c7bc0 !important;
  border-radius: 40px;
}

.THIS .btn-primary:hover, .THIS .slds-button:hover {
  background-color: #0c7bc0 !important;
  color: #fff !important;
}

.THIS .slds-card {
  padding: 2rem;
  width: 95%;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  position: relative !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  background-color: #fff !important;
  background-clip: border-box !important;
  border: 1px solid rgba(0, 0, 0, .125) !important;
  border-radius: .25rem !important;
  box-shadow: none !important;
}

.THIS a {
  color: rgb(67, 176, 42);
  text-decoration: none;
  transition: color .1s linear;
}