.THIS .finalLevel {
    padding-bottom: 10px;
}

.THIS .highlight {
    font-size: 20px; 
    font-weight: bold;
}

.THIS .fieldsError {
    padding: 10px;
    color: red;
    font-weight: bold;
}

.THIS .progressIndicatorContainer {
    padding: 20px 0px;
}

.THIS .checkIcon {
    margin: 10px;
    padding: 10px;
    background-color: #5AACF4;
}

.THIS .checkIcon svg {
    width: 3em;
    height: 3em;
}