.THIS .article_content {
    overflow-y: auto;
}

.THIS .article_content ul {
    list-style-type: disc;
    list-style-position: outside;
}

.THIS .article_content ol {
    list-style-type: decimal;
    list-style-position: outside;
}

.THIS .article_content ul ul, .THIS .article_content ol ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 15px;
}

.THIS .article_content ol ol {
    list-style-type: lower-latin;
    list-style-position: outside;
    margin-left: 15px;
}