.THIS .favoriteIconSelected {
    color : gold;
}
.THIS .favoriteIcon {
    color : gray;
}
.THIS .slds-checkbox [type="checkbox"][disabled] + .slds-checkbox__label .slds-checkbox--faux:after {
    border-color: #4286f4 !Important;
}
.THIS .setMaxWith {
    max-width: 400px;
}
.THIS .slds-button:focus {
    box-shadow: none;
}
.THIS .favoraterecord{
    display: flex;
}
.THIS .slds-form-element__label:empty{
    display:none;
}
.THIS #modal-content-id-1>lightning-helptext>div.slds-form-element__icon{
    padding-top:1px;
}
.THIS .setMaxWithEdit {
    max-width: 90px !important;
}
.THIS .selected{
    color:orange;
}