.THIS .saveIcon{
    left: 75%;
}
.THIS .popover {
    position: absolute;
    left: -26%;
    bottom: 65%;
}
.THIS .editButton{
    left: 25%;
}
.THIS .requestFollowButton{
    width: max-content;
}
.THIS .slds-readOnly-path{
    pointer-events: none;
}