.datatable-container {
  height: 450px;
}

.absolute-side-bar {
  position: absolute;
  right: 0;
  height: 100%;
  overflow: scroll;
  top:0;
}

.light-background {
  background-color:rgb(250, 250, 249);
}
/*
 * hover for add missing event
 */
.add-missing-event-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* replay  event tree grid container */
.tree-grid-container {
  height:18rem;
}