.heading {
    color: #2d2d2d;
    font-size: 20px;
}

.box-shadow {
    box-shadow: 2px 3px 5px 0px #eeeeee;
}

.custom-bottom-bar {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-top: 1px solid #d8dde6;
    background-color: #f3f3f3;
}

.custom-bottom-bar lightning-button {
    margin: 1px 2px;
}

.vcenter {
    margin:auto 5px auto 5px;
}

.currentpage {
    font-weight: 500;
    width: 30px;
    border: rgb(116, 116, 116) 1px solid;
    text-align: center;
    border-radius: 4px;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.591);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-button {
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-button:not(:disabled):hover {
    transform: scale(1.05);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-button:disabled {
    cursor: inherit;
    opacity: 0.6;
}

.cutom-box {
    z-index: 45;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cutom-box:hover {
    transform: scale(1.008);
    z-index: 50;
}

.custom-input {
    z-index: 30;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-input:hover {
    transform: scale(1.008);
    z-index: 30;
}