.headerButton{
    display: block;
    width: 100%;
    box-shadow:none!important;
    border-radius: 0;
    border: 0;
}

:host {
  /*to hide box shadow from header Button*/
  --sds-c-button-shadow-focus :0 0 0px #ecebea;
}