.THIS .image {
    width: 100%; 
    height:100%;
}
.THIS .media-figure-class {
    height: 10rem; 
    width:10rem;
}
.THIS .group-media-body {
    margin-top:1.5rem;
}
.THIS .group-page-header {
    font-size:1.3rem;
}
.THIS .group-description {
    margin-top: 1rem; 
    font-size: 1rem;
    width: 65%;
    white-space: break-spaces;
}
.THIS .group-details-card {
    border: 1px solid #d4d4d4 !important;
    border-radius: .25rem !important;
    box-shadow: 2px 2px 2px #d4d4d4 !important;
}