.THIS .setMaxWith {
    max-width : 100px;
}

.THIS .setWidth {
    width : auto;
}

.THIS svg {
    fill : #4680d3;
}

.THIS .slds-icon-action-clone {
     background-color : rgba(255, 255, 255, 0);
}