.outerPart
{
    background-color:rgba(138, 177, 159, 0.685);
}
div{
    text-align: left;
}
p{
    font-size: 200%;
    color:white;
}
th, td{
    padding: 10px 20px;
    border: 1px solid #000;
}
.bg-info{
    background-color:yellow;
    min-width: 150px;
}
tr{
    padding: 10px 20px;
    border: 1px solid #000;
}
.calendar{
    height: 80px;
}
.buttoncolor{
    --sds-c-button-text-color: grey;
}
.bg-info1{
    background-color:rgb(255, 255, 255);
    min-width: 150px;
}
.button1 {
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 5px 1px;
    cursor: pointer;
    border-radius: 5px;
  }
  .button2 {
    background-color:red;
    border: none;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 5px 1px;
    cursor: pointer;
    border-radius: 5px;
  }
  .showNumner{
    color: yellow;
    padding: 3px;
    font-size: 10px;
  }
