.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}



.dropdown-header {
  border: 1px solid #ccc;
  padding: 5px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px;
  border-style: solid;
  max-height: 100px;
  overflow-y: auto;
}

.dropdown-body {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.search-box {
  width: 100%;
  margin-bottom: 10px;
}

.options-container {
  padding: 10px;
}

.option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.table-container { overflow-x: auto; } 
table { width: 100%; border-collapse: collapse; } 
th, td { padding: 8px; border: 1px solid #dcdcdc; }

.spinner-z-index {
  position: absolute;
  z-index: 9999 !important;
}
.slds-modal__content{
  height : 570px !important;
  max-height: 800px !important;
}
