.THIS #caseListView .slds-page-header .firstHeaderRow {
    display: none
}

.THIS #caseListView>div>div {
    background-color: #FFFFFF !important;
}

.THIS .forceListViewSettingsMenu{
    display: none;
}

.THIS .forceRefreshButton {
    display: none;
}

.THIS .search-in-list {
    width: 100%;
}
.THIS .supportOutputLookupWithPreviewForSubject .escalationIcon {
    display:none;
}