.THIS.backgroundcolor{
    background-color: white;
    height: 100%;
}
.THIS .labelStyle {
    font-size:15px;
    color:blue;
}
ul.THIS{
    padding-left: 50px;
}
.THIS .ccStyle{
    padding-left: 20px;
}

.THIS .outputText {
    font-size: .75rem;
    color: #54698D;
}
.THIS .slds-size--1-of-1{
	margin-top: 15px;
    margin-bottom: 15px;
    text-decoration:none!important;
}
.THIS .blockBorder {
    border: 1px solid lightgray; 
    margin: 15px; 
    border-radius: 5px; 
    width: 100%;
    text-align: center;
}
.THIS .disabledIcons{
    opacity:0.7;
    cursor: not-allowed;
    text-decoration: none;
}