.backgroundcolor{
    background-color: white;
    height: 100%;
}
.removeTextDecoration{
    text-decoration:none!important;
}
.disabledIcons{
    opacity:0.4;
    cursor: not-allowed;
    text-decoration: none;
}
.outputText{
    font-size: .75rem;
    color: #54698D;
}