.THIS.backgroundcolor{
    background-color: white;
    height: 100%;
}
.THIS .outputText {
    font-size: 15px;
    color: #54698D;
}
.THIS .blockBorder {
    border: 1px solid lightgray; 
    border-radius: 5px; 
    width: 100%;
    text-align: center;
}