.THIS .labelStyle { 
    display : none;
}

.THIS .setMaxWith {
    max-width: 200px;
}
.THIS .slds-form-element__label {
    display:none;
}
.THIS .mobile-modal {
    min-height: 60vh!important;
}

.THIS .slds-dropdown-trigger_click  {
    overflow-y: hidden !important;
}

.THIS .slds-datepicker{
   top : 9% !important;
}

.THIS .scroll_y_only{
    overflow-x: hidden !important;
}