.form {
    margin-top: -20px;
    margin-left: 15px;
    width: 47.5%;
}

.modal-div {
    height: 640px;
}

.header-div {
    padding-left: 1048px;
}

.flow-div {
    height: 640px;
    width: 1080px;
}

.anchor {
    border-bottom: 1px dotted;
}