.THIS {
}
.THIS .editbutton {
    margin-left: 80%;
}
.THIS .leftmargin{
    margin-left: 5%;
}
.THIS .rightmargin{
    margin-right: 5%;
}
.THIS .marginbottom{
    margin-bottom: 84px;
}
.THIS .section{
    background: #f3f2f2;
    font-size: 1rem;
    height: 31px;
    line-height: 31px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.THIS .sectionclone{
    background: #f3f2f2;
    font-size: 1rem;
    height: 31px;
    line-height: 31px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: -webkit-fill-available;
}
.THIS .modalwidth{
    width: 100%;
}
.THIS .scrollbar{
    overflow: scroll;
}
.THIS .display-none{
    display: none;
}
.THIS .product-modal-class{
    z-index: 10000000 !important;
}
.THIS .clone-modal-class{
    z-index: 1 !important;
}
