.metric-scroller {
  padding-bottom: 1rem;
  /* margin-left: 1115px; */
  overflow-x: scroll;
  overflow-y: scroll;
  height: 400px;
}
.stickyHeader{
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fff; 
}
.metric-table .metric-sticky-col {
  left: 1px;
  position: absolute;
  top: auto;
  width: 550px; /*og 300*/
  min-height: 2rem;
}
/* white-space: normal; */

.metric-table .metric-sticky-col2 {
  left: 551px;
  position: absolute;
  top: auto;
  width: 150px;
  min-height: 2rem;
}
.metric-table .metric-sticky-col3 {
  left: 701px;
  position: absolute;
  top: auto;
  width: 115px;
  border-right:1px solid #eee;
  min-height: 2rem;
}
.metric-table .metric-sticky-col4 {
  left: 816px;
  position: absolute;
  top: auto;
  width: 149px;
  border-right:1px solid #eee;
  min-height: 2rem;
}

.metric-table .metric-sticky-col5 {
  left: 965px;
  position: absolute;
  top: auto;
  width: 149px;
  border-right:1px solid #eee;
  min-height: 2rem;
}


.metric-table .monthtly-item-class {
min-width: 8rem;
min-height: 2rem;
height:2rem;
text-align: center;
border-left:1px solid #eee;
}


.slds-table.metric-table tbody tr {
height:1.5rem;
}

.metric-actual-modal .comment-textarea-input textarea.slds-textarea {
min-height: 10rem;
}

.cursor-pointer {
cursor: pointer;
}

.active-metrics-tab-buttons {
position: absolute;
margin-top: -3.5rem;
right: 1rem;
z-index:1
}

.errorMessageDiv{
  color: rgb(194, 57, 52);
  padding: 10px;
  padding-left: 0px;
}

.csvDropIpBox{
	width: 90%;
	height: 50%
}

.file-selector-image .slds-file-selector {
    display: block;
}

.file-selector-image .slds-file-selector__dropzone {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
}

.file-selector-image .slds-file-selector__dropzone slot {
    width: 100%;
}

.file-selector-image .slds-file-selector_files .slds-file-selector__body {
    display: block;
    text-align: center;
}

.file-selector-image .slds-file-selector_files .slds-file-selector__text {
    margin-top: 0.75rem;
}

.center-align-div{
	width: 70%;
    margin: auto;
	font-size: large;
    color: darkgray;
}
.container-div{
	background-color : white;
	padding: 20px;
}
.button-div{
	margin:20px;
}

.active{

    border: 3px solid green;
}

.inactive{

    border: 2px dashed rgb(158, 158, 158);
}

.inactive:hover{

    border: 1px solid grey;
}
.error-div{
	color: red;
	padding: 10px;
}