.backgroundText.THIS {
    color: #5c45ef;
    font-weight: 900;
    font-size: 40px;
    padding-top: 40px;
}
.middleText.THIS {
    color: #5c45ef;
    font-weight: 900;
    font-size: 40px;
}

.THIS .buttonPadding {
    padding-right: 2px;
}