.THIS .slds-accordion__summary-action, .THIS .slds-accordion__summary-action:hover, .THIS .slds-accordion__summary-action:focus {
    border: none !important;
    /* background-color: #ffffff !important;*/
    color: #2B3A42 !important;
    text-decoration: none !important;
}

.THIS .article_content {
    overflow-y: auto;
}

.THIS .article_content ul {
    list-style-type: disc;
    list-style-position: inside;
}

.THIS .article_content ol {
    list-style-type: decimal;
    list-style-position: inside;
}

.THIS .article_content ul ul, .THIS .article_content ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}

.THIS .article_content ol ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}

.THIS .custSize{
    background-color: #f6f8fa; 
    width: 865px;
}

@media (max-width: 600px) {
  .THIS .custSize{
        width: 100%;
   }
}