.image-container {
    background-color: #0c7bc0;
    height: 64px;
    position: relative;
    width: 64px;
    display: block;
    border-radius: 5px;
}

.image {
    border-radius: inherit;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    padding: 5px;
}