.THIS .bottomBarLeftSide{
    float: none;
    order: 1;
    margin-right: auto;
    min-width: 100px;
    width: 28.25vw;
}
.THIS .emailIconToolbar{
    padding-bottom: 5px;
}
.THIS .bottomBarRightSide{
    min-height: 0;
    order: 2;
    float: none;
    margin-top: 0;
    min-width: 118px;
    vertical-align: bottom;
    align-self: auto;
    padding-top: 14px;
}
.THIS .extraSmallIcon{
    background-color: #F2CF5B;
    width: 1.5rem;
    height: 1.5rem;
}
.THIS .bottomBarCaseIcon{
    margin-right: .5rem;
    float: left;
    display: block;
    border-radius: .125rem;
}
.THIS .cuf-iconsList{
    width: inherit;
    display: table;
    table-layout: fixed;
    text-align: center;
}
.THIS .cuf-iconsItem{
    display: table-cell;
}
.THIS .uiTooltipItem{
    display: inline;
    position: relative;
}
.THIS .cuf-iconsItem:nth-child(2){
    padding-right: 0.5rem;
}
.THIS .assistiveText{
    position: absolute!important;
    border: 0;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
}
.THIS .uiTooltipItem .cuf-Icon{
    background: none;
}
.THIS .uiTooltipItem .tooltip-invisibleIcon{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    overflow: hidden;
}
.THIS .attach_button{
    padding: 5px;
    line-height: initial;
}
.THIS .attach_button svg{
    width: 15px;
    height: 15px;
}
.THIS .send_btn button{
    float:right;
}
.THIS .mail_previewContainer{
    width: 75%;
}
.THIS .forceContentFilePicker.fileContainer {
    width: 100%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.THIS .forceContentFilePicker.fileContainer .fileLeftPanel {
    float: left;
    width: 32%;
}
.THIS .forceContentFilePicker.fileContainer .fileRightPanel {
    float: right;
    width: 68%;
    padding-right: 1rem;
    overflow-y: visible;
    min-height: 300px;
}
.THIS .forceContentFilePicker .fileLeftPanel .topPane {
    padding: 1.5rem;
    padding-top: 1rem;
    margin: 0 auto;
}
.THIS .forceContentFilePicker .fileAttachButton {
    width: 100%;
}
.THIS .attachmentContainer{
    width: 90%;
}
.THIS .search_top label{
   display:none; 
}
.THIS .bottomPanel{
    min-height: 235px;
    max-height: 235px;
}
.THIS .bottomPanel .searchScroller{
    overflow: auto;
    clear: both;
    padding-right: 0;
    overflow-x: hidden;
    height: 235px;
}
.THIS .bottomPanel.searchScroller .scroller{
    width: 100%;
}
.THIS .bottomPanel.searchScroller .results.uiAbstractList .listContent {
    min-height: 0;
}
.THIS .bottomPanel ul.results{
    padding: 0;
    padding-top: 5px;
    margin: 0;
    list-style: none;
}
.THIS .forceContentFilePicker .fileRightPanel .forceContentVirtualRelatedListStencil:first-child:not(.selectedRecord) {
    border-top: 1px solid rgb(221, 219, 218);
}
.THIS .forceContentFilePicker ul.results .forceContentVirtualRelatedListStencil {
    border-bottom: 1px solid rgb(221, 219, 218);
    border-top: 1px solid transparent;
    background-color: rgb(255, 255, 255);
}
.THIS .bottomPanel ul.results li {
    height: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 400;
    font-size: .8125rem;
}
.THIS .bottomPanel ul.results li .filerow{
    padding: .25rem 0 .25rem 1rem;
}
.THIS li.forceContentVirtualRelatedListStencil .filerow{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.THIS .bottomPanel .forceContentVirtualRelatedListStencil .checkBoxContainer {
    display: table-cell;
}
.THIS .bottomPanel .forceContentVirtualRelatedListStencil .checkBoxContainer {
    vertical-align: middle;
    width: 28px;
    padding-right: .75rem;
}
.THIS .bottomPanel .forceContentVirtualRelatedListStencil .checkBoxContainer .uiInputCheckbox {
    width: 1rem;
    height: 1rem;
    border-color: rgb(221, 219, 218);
}
.THIS .forceContentVirtualRelatedListStencil .itemTitle {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .forceContentVirtualRelatedListStencil .secondaryFields {
    color: rgb(62, 62, 60);
    display: inline-block;
}
.THIS .attachment_popover{
    display: none;
    position: absolute;
    bottom: 4.3rem;
    background-color: #fff;
    min-width: 10rem;
    padding: 0.5rem 0;
    border: 1px solid #dddbda;
    border-radius: 3px;
    left: 3rem;
    min-height: 7rem;
    z-index: 999;
    box-shadow: 1px 1px 2px #d6d6d6, -1px 1px 2px #d6d6d6;
    transform: translateX(0);
}
.THIS #lightningFileUploadContainer .slds-form-element__label{
    display: none;
}
.THIS #lightningFileUploadContainer .slds-file-selector__text.slds-medium-show{
    display: none;
}
.THIS #lightningFileUploadContainer .slds-file-selector__button.slds-button.slds-button_neutral{
    padding: 1rem;
}
.THIS #lightningFileUploadContainer .slds-file-selector__dropzone{
    border: none;
}
.THIS .mail_tempateContainer{
    width: 100% !important;
    max-width: 60rem;
}
.THIS .emailTemplateUiDailog.filters{
    display: flex;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem 0 1rem;
}
.THIS .emailTemplateUiDailog.filters div:first-child {
    flex: 1;
}
.THIS ul.results li.forceRecordLayout.selectedRecord{
    background-color: rgb(243, 242, 242);
    border-bottom: 1px solid rgb(0, 112, 210);
    border-top: 1px solid rgb(0, 112, 210);
}
.THIS .forceIcon svg{
    width: 0.875rem !important;
    height: 0.875 rem !important;
}
.THIS .emailuiEmailTemplateDataGrid.dataGridContainer {
    overflow: hidden;
    height: 210px;
    padding: 0 1rem;
}
.THIS.emailuiEmailTemplateDataGrid table th, .THIS .emailuiEmailTemplateDataGrid table td {
    padding: .5rem .25rem;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS.emailuiEmailTemplateDataGrid table th, .THIS .emailuiEmailTemplateDataGrid table th a {
    color: rgb(62, 62, 60);
    text-transform: uppercase;
}
.THIS.emailuiEmailTemplateDataGrid table th, .THIS .emailuiEmailTemplateDataGrid table td, .THIS .emailuiEmailTemplateDataGrid table tr {
    text-align: left;
}
.THIS .emailuiEmailTemplateDataGrid .createdByCreatedDate {
    width: 20%;
}
.THIS .emailuiEmailTemplateDataGrid .name, .THIS .emailuiEmailTemplateDataGrid .name sortable {
    width: 32%;
}
.THIS .emailuiEmailTemplateDataGrid table {
    table-layout: fixed;
    width: 100%;
    border-bottom: 1px solid rgb(221, 219, 218);
}
.THIS .emailuiEmailTemplateDataGrid table thead, .THIS .emailuiEmailTemplateDataGrid table tr {
    border-top: 1px solid rgb(221, 219, 218);
}
.THIS .emailuiEmailTemplateDataGrid .emptyList {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    text-align: center;
}
.THIS .emailuiEmailTemplateDataGrid thead th.sortable:hover a, .THIS .emailuiEmailTemplateDataGrid thead th.sortable:focus a, .THIS .emailuiEmailTemplateDataGrid a.uiOutputURL {
    color: rgb(0, 109, 204);
    font-weight: 400;
}
.THIS .mail-scrollable_y {
    padding: 10px 1rem;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100%;
}
.THIS .mailHeader {
    height: 40px;
    border-bottom: 2px solid rgba(0, 112, 210, 1);
    padding: 4px 1rem;
    background: #fff;
    display: flex;
}
.THIS .modal-footer.slds-size_1-of-1 {
    height: 70px;
    padding: 5px 1rem;
    border-top: 1px solid #dddbda;
    background: #f3f2f2;
}
.THIS .mailIcons svg.slds-icon{
    width: 1.2rem !important;
    height: 1.3rem !important;
}
.THIS .emailTemplateUiDailog .templateInputs {
    width: auto!important;
    min-height: 2.25rem;
    padding-right: 2rem!important;
}
.THIS .mailHeader .slds-col--bump-left button{
    border: none;
}
.THIS .emailuiEmailTemplateDataGrid table th, .THIS .emailuiEmailTemplateDataGrid table td {
    padding: .5rem .25rem;
    white-space: nowrap;
    font-size: .75rem;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .emailuiEmailTemplateDataGrid table th, .THIS .emailuiEmailTemplateDataGrid table th a {
    color: rgb(62, 62, 60);
    text-transform: uppercase;
}
.THIS .emailuiEmailTemplateDataGrid thead th.sortable:hover, .THIS .emailuiEmailTemplateDataGrid thead th.sortable:focus {
    outline: none;
    background-color: rgb(243, 242, 242);
}
.THIS .emailuiEmailTemplateDataGrid th.sortable.descending a.toggle:after, .THIS .emailuiEmailTemplateDataGrid th.sortable.descending:hover a.toggle:after,
.THIS .emailuiEmailTemplateDataGrid th.sortable.descending:focus a.toggle:after, .THIS .emailuiEmailTemplateDataGrid th.sortable:not(.descending):not(.ascending):hover a.toggle:after,
.THIS .emailuiEmailTemplateDataGrid th.sortable:not(.descending):not(.ascending):focus a.toggle:after {
    content: "\e88a";
}
.THIS .emailuiEmailTemplateDataGrid th.sortable a.toggle:after {
    margin-left: .5rem;
    font-family: "forceIconFont";
    color: rgb(62, 62, 60);
}
.THIS .uiInputSearch button.clear{
    top: 2.5rem;
}
.THIS .trHide{
    display: none;
}
.THIS .slds-spinner_container{
    z-index: 9999 !important;
}
.THIS .mail-scrollable_y .uiPillContainerAutoComplete {
    width: 100%;
}
.THIS .mail-scrollable_y .uiAutocompleteList {
    max-height: 25rem;
    overflow-y: auto;
    left: 0;
    padding: 0 2rem;
    border: none;
    background: transparent;
}
.THIS .mail-scrollable_y .uiAutocompleteList .lookup__list {
    list-style-type: none;
    padding-left: 0;
}
.THIS .lookup__menu .listContent{
    border: 1px solid rgb(221, 219, 218);
    background: white;
}
.THIS li.lookup__item.uiAutoCompleteOption {
    display: flex;
    padding: .25rem .5rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.THIS li.lookup__item.uiAutoCompleteOption:hover, .THIS li.lookup__item.uiAutoCompleteOption:focus {
    background: #f2f2f2;
}
.THIS .contactIconBlock{
    width: 4%;
    min-width: 4rem;
    text-align: center;
    margin-top: 0.2rem;
}
.THIS .contactDetailsBlock{
    min-width: 15rem;
    width: 30%;
}
.THIS .contactNameBlock{
    font-size: 14px;
    font-weight: 600;
    color: #575480;
}
.THIS .contactEmailBlock{
    font-size: 12px;
    color: #575480;
}