.THIS .verticalAlign {
	cursor: pointer;
	margin: 6px 0px 0px 6px!important;
}

.THIS .fullWidth {
	width: 100% !important;
}

.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}

.THIS .inputBox input {
	padding-left: 30px;
}

.THIS .inputIcon {
	z-index: 99;
}

/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}
.THIS .pill-item-size,.THIS .input-container {
    width : 100%
}

.THIS .pill-container{
    font-size: medium;
    margin: .5px;
}

.THIS .input-no-border{
    border : transparent;
}
.THIS .input-no-border:focus{
    outline: transparent;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.THIS .forceChatterAddMemberCard{
    display: none !important;
}
.THIS .modal-close-icon{
    border: none !important;
    background: none !important;
}
.THIS .modal-buttons{
    border: 1px solid !important;
    border-radius: 5px !important;
    width: 5rem !important;
}
.THIS .slds-button_success{
    background: #43b02a !important;
    color: rgb(255,255,255) !important;
    
}
.THIS .slds-icon-text-default{
    fill: rgb(255,255,255) !important; 
}
.THIS .slds-pill__remove {
    border:0px !important;
}
.THIS .slds-form-element{
    margin-top: 0.8rem;
    height: 3rem;
}
.THIS .slds-form__item .slds-form-element .slds-form-element__label{
    margin-left: 1rem;
    font-weight: bold;
    font-size: small;
}
.THIS .slds-modal__footer{
    border-top: 1px solid #43b02a;
}
.THIS .slds-modal__header{
    border-bottom: 1px solid #43b02a;
}
.THIS .slds-pill__label{
    font-size: 1rem;
}