<template>
    
    <div class="slds-m-left--x-small">
        <c-lwc-cpq-custom-picklist
            label={typeAttributes.label}
            name={typeAttributes.name}
            value={typeAttributes.value}
            placeholder={typeAttributes.placeholder}
            context={typeAttributes.context}
            variant={typeAttributes.variant}
            editable={typeAttributes.editable}
            object-api-name={typeAttributes.objectApiName}
            field-api-name={typeAttributes.fieldApiName}>
        </c-lwc-cpq-custom-picklist>
    </div>
</template>