.expando-button {
    transform: rotate(-90deg);
}
.slds-is-open .expando-button {
    transform: rotate(0deg);
}
.align-with-title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.slds-m-top_none {
    padding-top: 0;
}
.in-modal .saving-record {
    margin-top: 48px;
    margin-bottom: 48px;
}

.sticky-button-container {
    position: sticky;
    bottom: 2rem;
    padding: 1rem;
    border-top: 1px solid #888;
    margin-left: -1rem;
    margin-right: -1rem;
    z-index: 2;
}

.sticky-button-container-add {
    position: sticky;
    bottom: 0rem;
    padding: 1rem;
    border-top: 1px solid #888;
    margin-left: -.75rem;
    margin-right: -.75rem;
    z-index: 2;
}
.fake-related-button {
    position: absolute;
    right: .75rem;
    top: 1.75rem;
    z-index: 2;
}