<template>
    <template lwc:if={typeAttributes.isPickList}>
        <lightning-combobox
        label={typeAttributes.label}
        variant="label-hidden"
        value={editedvalue}
        data-inputable="true"
        options={typeAttributes.options}
        ></lightning-combobox>
    </template>
    <template lwc:if={typeAttributes.isString}> 
        <lightning-input
        label={typeAttributes.label}
        variant="label-hidden"
        value={editedvalue}
        data-inputable="true"
        options={typeAttributes.options}
        ></lightning-input>
    </template>
</template>