.THIS .slds-readOnly-path{
    pointer-events: none;
}
.THIS .slds-readOnly-path .slds-button{
    display: none;
}
.THIS .slds-readOnly-path .slds-path__content{
    display: none;
}
.THIS .editButton{
    left: 25%;
}
.THIS .saveIcon{
    left: 75%;
}
.THIS .popover {
    position: absolute;
    left: -26%;
    bottom: 65%;
}