.THIS.relatedList{
    background:rgb(243, 242, 242);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.THIS.relatedList .slds-p-horizontal_small{
    padding:0px;
}
.THIS .slds-button_icon-bare {
    display: none;
}
.THIS .related-list th:first-child lightning-formatted-url a {
    border-bottom: 1px dotted;
}
.THIS .related-list .slds-scrollable_x {
    overflow-y: visible;
    overflow-x: visible;
}
.THIS .related-list .slds-scrollable_y {
    overflow-y: visible;
    overflow-x: visible;
}
.THIS a span {
    color: rgba(27, 82, 151, 1.0);
}
.THIS .slds-scrollable_y {
    width: 100% !important;
}
.THIS .slds-table_header-fixed {
    width: 100% !important;
}
.THIS .modal-header .slds-modal__header {
    font-size: 1.5em;
    font-weight: bold;
}
.THIS .divFileUpload .slds-file-selector.slds-file-selector_files {
    width: 96%;
    margin: 0 2%;
    height: 100px;
}
.THIS .divFileUpload .slds-file-selector__dropzone {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
}
.THIS .divFileUpload .slds-file-selector__text.slds-medium-show {
    margin-top: .75rem;
}
.THIS .divFileUpload .slds-file-selector__body {
    display: inline;
    text-align: center;
}
.THIS .divActionFileUpload .slds-file-selector__text{
    display:none;
}
.THIS .divActionFileUpload .slds-file-selector__dropzone{
    border:none;
}
.THIS .slds-th__action:focus,.THIS .slds-th__action:hover{
    outline: inherit;
    background-color: inherit;
}