.THIS.slds-size_12-of-12 {
}
.THIS.slds-scope .slds-page-header {
    padding: 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0;
    background: #000 !important;
    background-clip: padding-box;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0);
}
.THIS .slds-scope li {
    margin-left: 0;

}