.THIS .video::-internal-media-controls-download-button {
    display:none;
}

.THIS .video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

.THIS .video::-webkit-media-controls-panel {
    width: calc(100% + 30px); 
}

.THIS .inp{
    width : 250px;
    margin: 2px 2px 2px 2px;	
}
.THIS .btn{
    text-align: center;
    margin-top: 10px;
}
.THIS .text-right-custom{
    text-align: right!important;
    padding-right: -1.5rem;
    margin: 8px;
	margin-left: 330px;
    color: #005587;
    font-size: 10px;
    font-color: #005587;
    font-weight: 900;
}
.THIS .new-button{
    border-radius: 45px;
    height: 25px;
    width: 50px;
    font-size: 11px;
    background-color:#027223;
    bottom: 0px;
    padding: 0px 0px 1px 0px;
}
