.heading{
	font-size: 1rem;
    line-height: 32px;
}

.header {
	padding: 8px 0px;
}

.tableContainer {
	background-color: #fff;
	margin-bottom: 7px;
	padding-bottom:10px
}
.keyMessage{
	white-space: pre;
	text-align: left;
	font-size: 12px;
}
.gray-utility-icon {
	--sds-c-icon-color-foreground-default: white;
}
.tablebordered{
	border-collapse: separate;
	border-top: var(--lwc-borderWidthThin, 1px) solid var(--slds-g-color-border-base-1, var(--lwc-colorBorder, rgb(229, 229, 229)));
	border-bottom: var(--lwc-borderWidthThin, 1px) solid var(--slds-g-color-border-base-1, var(--lwc-colorBorder, rgb(229, 229, 229)));
}