.THIS .feedbackButton{
    border-radius: 45px;
    height: 25px;
    width: 114px;
    font-size: 11px;
    padding: 0px 0px 1px 0px;
}

.THIS .fill {
    background-color: #005587 !important;
    color: #fff !important;
}