.THIS .customPos{
    float:left;
   	margin-top: -160px;
    /*width: calc((100vw/2) - 35px);*/
    width: 100%;
}

.THIS .slds-align_absolute-center {
    margin-top: 80px;
}

.THIS .slds-form-element__label {
    font-weight: 600;
    color: black;
}

.THIS .slds-form-element {
    margin-bottom: 10px;
}