.divPageHeader{
    border: 0 !important;
    box-shadow: none !important;
    background: #ffffff !important;
    position: relative;
}

.bidHistoryIcon{
    margin-left: 0px !important;
}

.viaTicketInformation{
    font-size: 12px;
    color: red !important;
}

.informationMessage{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #bee6ff;
    border-radius: 4px;
    background-color: #f5fcff;
    color: #000000;
}

.tdLongText{
    min-width: 200px;
    max-width: 240px;
    text-wrap: balance;
}

.dataTableCustom{
    overflow-x: scroll;
}
