.THIS .defaultCursor {
    cursor : default;
    font-weight : bold;
}

.THIS .lineHgt {
    line-height: 1.6;
}

.THIS .maxSize {
    max-width : 115px;
}

.THIS .redColor {
    color : red;
}

.THIS .disabledTab {
   pointer-events : none;
   cursor : default;
   display : inline-block;
}