.THIS div.slds-form-element > label.slds-form-element__label.slds-m-right_xxx-small {
    display: none;
}

.THIS .labelHidden {
    display : none;
}

.THIS h1 {
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}
.THIS h1:after {
    content:"";
    display: inline-block;
    height: 0.10em;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 2px solid rgb(221, 219, 218);
}

.THIS .slds-radio {
    padding: .25rem;
}
.THIS .slds-checkbox__label {
    padding: .25rem;
}

.THIS .slds-checkbox__label>span {
    font-size: .8125rem;
}

.THIS button.setButtonPosition {
    margin-left: 32px !important;
}

.THIS .slds-theme_error > ul > li {
    padding-left: 15px;
}

.THIS .slds-box {
    padding : 0.5rem; 
}

.THIS .sldsRedError {
    border-color: rgb(194, 57, 52) !important;
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .slds-modal__content {
}

.THIS .slds-p-around--medium {
    padding : 0px !important;
}

.THIS.slds-spinner_container {
    top: 16% !important;
    bottom: 16% !important;
}