.slds-modal__container{
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 999;
    max-width: 30rem !important;
    
}
body.desktop {
    overflow: hidden !important;
  }